.comment.distinguish .header a {
  color: #3F403B;
}

.comment.distinguish-moderator {
  background-color: #f9bd9e;
  border: 1px solid #F47C3D;
  border-bottom-color: #F47C3D !important;
}

.comment.distinguish-moderator .role {
  color: #F47C3D;
}

.comment.distinguish-pc_member {
  background-color: #83ceed;
  border: 1px solid #2AABE0;
  border-bottom-color: #2AABE0 !important;
}

.comment.distinguish-pc_member .role {
  color: #2AABE0;
}

.comment.distinguish-banned {
  background-color: #e58383;
  border: 1px solid #D32F2F;
  border-bottom-color: #D32F2F !important;
}

.comment.distinguish-banned .role {
  color: #D32F2F;
}

.comment.deleted {
  background-color: #a1a1a1;
  color: #212121;
}

.comment.deleted a {
  color: #fff;
}

.app-badge {
  padding: .6rem .6rem .6rem 1.8rem;
  margin: 0 3px 3px 0;
  color: #FFF;
  line-height: 1;
  text-decoration: none;
  white-space: nowrap;
  font-size: 12px;
  background-color: #2f3337;
  border: 1px solid transparent;
  display: inline-block;
  border-radius: 4px;
  position: relative;
}

.app-badge.gold::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #FCC200;
  position: absolute;
  left: .5rem;
  top: calc(50% - 4px);
}

.app-badge.silver::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #a59fa3;
  position: absolute;
  left: .5rem;
  top: calc(50% - 4px);
}

.app-badge.bronze::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #f99968;
  position: absolute;
  left: .5rem;
  top: calc(50% - 4px);
}

.user-badge {
  position: relative;
  min-width: 10px;
  padding-left: 1.8rem;
}

.user-badge.gold {
  color: #FCC200;
}

.user-badge.gold::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #FCC200;
  position: absolute;
  left: .5rem;
  top: calc(50% - 4px);
}

.user-badge.silver {
  color: #a59fa3;
}

.user-badge.silver::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #a59fa3;
  position: absolute;
  left: .5rem;
  top: calc(50% - 4px);
}

.user-badge.bronze {
  color: #f99968;
}

.user-badge.bronze::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #f99968;
  position: absolute;
  left: .5rem;
  top: calc(50% - 4px);
}

.points-history td {
  padding: 0.4rem;
}

.container.leaderboard {
  font-size: 120%;
}

.leaderboard tr:not(.skip) td {
  padding: 1rem;
}

.points-history tr.hover,
.leaderboard tr.highlight {
  background-color: #e4f1d2;
  -webkit-transition: 300ms background-color;
  transition: 300ms background-color;
}

.leaderboard tr.skip hr {
  border-top: 1px solid #afafaf;
}

.rownum {
  font-weight: bold;
  background-color: #93C54B;
  padding-right: 0.3rem;
}

.sidebar {
  display: none;
}

@media screen and (min-width: 1500px) {
  body:not(.no-sidebar) .sidebar {
    display: block;
    position: fixed;
    top: 120px;
    right: 40px;
  }

  .leaderboard-button {
    display: none !important;
  }
}

